/* CSS Document */




div {
		font-family : 나눔고딕;
		padding-left: 1em;
	}

.bluecolor {
	width: 100%;
	background-color: #0088ff;
	height: 1em;
	margin-top : 0px;
	padding-top : 0px;
	
}

body {
	
	padding : 0;
	margin: 0;
}

.head_nav {
	display: inline-block;
	float: right;
	width: 100%;

}

.logobanner> div{
	padding-top: 1em;
	display: inline-block;
}

 .logo {
  font-weight : bold;
  font-size : 40px;
  color : #0088FF;
  color : rgb(0, 136, 255);
		
}
.sentence{
	float: right;
	font-family : 나눔고딕;
  	font-size : 28px;
  	color : #0088FF;
  	color : rgb(0, 136, 255);
	
	
}

.tie{
	display: inline;
	float: right;
}
.tie ol{
	display: inline;
	}


nav{
	width: 100%;
	
}

.big_sort{
	width: 100%;
	display: inline-block;
}
.big_sort> div {
display: inline;
}

.university{
	width: 100%;
	height: 10em;
	border: 2px solid #0088FF;
	margin-top: 1em;
}
.seokyeong {
	
	width: 250px;
	height: 100px;
}

.ocu {
	width: 250px;
	height: 100px;
}

.td-detail{
	font-size: small;
	color: rgba(204,204,204,1.00);
}
.korea {
	width: 250px;
	height: 100px;
}

.sungsin {
	width: 250px;
	height: 100px;
}

.kukmin {
	width: 250px;
	height: 100px;
}

.university> div {
	display: inline-block;
	
}


.tie2 {
	float: right;
	margin-bottom: 1em;
	margin-top: 3em
	
}

.tie2>div {
	display: inline-block;
}
.wrap_box {
	border: 1px solid #0088FF;
	
}
.college >div {
	display: inline-block;
}

.social_science> div {
	display: inline-block;
}

.science> div {
	display: inline-block;
}

.arts> div {
	display: inline-block;
}

.beauty_arts> div {
	display: inline-block;
}

.else> div {
	display: inline-block;
}

.college {
	margin-top: 1em;
	margin-bottom: 1em;
}

.social_science {
		padding-bottom: 1em;
}

.science {
		padding-bottom: 1em;
}

.arts {
		padding-bottom: 1em;
}

.beauty_arts {
		padding-bottom: 1em;
}

.else {
		padding-bottom: 1em;
}

.sort_univ {
	font-weight : bold;
	color : rgb(0, 136, 255);
}

.button_recommend {
	width: 1em;
	height: 1em;
	
}

.container1 {
	margin-left: 10%;
	margin-right: 10%;
}

.th div{
	display: inline-block;
	
}

.th_rank {
	margin-right: 5em;
}

.th_object {
	margin-right: 20em;
}

.tr div{
	display: inline-block;
	margin-left: 0;
	padding-left: 0;
}

.tr_button div {
	margin-left: 0;
	padding-left: 0;
	height:1em;
}

.container_rank {
	margin-left: 0;
	padding-left: 0;
}

.rank {
	margin-left: 0;
	padding-left: 0;
}


.th {
	padding-top: 2em
}

#rank_banner {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
	font-weight : bold;
  	font-size : 32px;
  	color : #0088FF;
  	color : rgb(0, 136, 255);
}


.tr div {
	
	vertical-align: middle;
	

}
.tr_button {
	width : 2em;
}

.tr {
	padding-top: 2em;
}

.tr_rank {
	width: 8em;
}




.tr_object {
	width: 23.8em;
}

.tr_professor {
	width: 5em;
}

.line {
	border: thin #0088FF solid;
}

footer {
	margin-top: 3em;
	border: solid #0088FF;
	background-color: #0088FF;
	width: 100%;
	height: 10em; 
		
}

	
	

.university div {
	margin-bottom: 2em;
	margin-top: 2em;
}



.up_button {
		background-color:#FFFFFF;
	border : none;
	height : 0.5em;
}

.down_button {
		background-color:#FFFFFF;
	border : none;
	height : 0.5em;
}

.side_banner {
	font-weight : bold;
	color : rgb(0, 136, 255);
}





#reading-glasses {
	width: 2em;
}

#search-box {
	border: rgba(204,204,204,1.00) solid thick;
	width: 40em;
}

#search-input {
	width: 40em;
	height: 2.5em;
	font-size: 0.9em;
	
}

#search-box>span {
	vertical-align: middle;
	display: inline-block;
}

#university-name 	{
		margin-top: 1em;
		font-size: 2em;	
		margin-bottom: 1em;	
}



.recommend-button {
	width: 1.5em;
	display: block;
	margin-bottom: 0.2em;
	margin-top: 0.4em
}

.tr-button {
	height: 5em;
}

.tr-button>button{
	display: block;
	background: transparent;
	border: #fff;
}
.rank-line {
	height: 4em;
	width: 10em;
	display: block;
}

#rank-table {
	width: 100%;
	table-layout: fixed;
	height:auto;
	display: block;
}

#rank {
	margin-top: 2em;
}

tr{
	border-bottom: rgba(204,204,204,1.00) solid thick;
	border-collapse: collapse;
}



th {
	border-bottom: rgba(0,0,0,1.00) solid thin;

}

#th-recommend{
	width: 10%;
}

#th-rank {	
	width: 10%;
}

#th-class {
	text-align: left;
	width: 40%;
}

#th-professor {
	text-align: left;
	width: 30%;
}

#th-grade {
	text-align: left;
	width: 10%
}

.td-recommend, .td-rank{
	text-align: center;
}
.td-grade{
	width: 10%;
}
table {
	table-layout: fixed;
}

#search-class {
	border: rgba(0,136,255,1.00) solid thick;
	height: 5em;
	width:30em;
	

	
}



#reading_glasses {
	height: 5em;	

}





form {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 50%;

}


.dropdown_class {
width: 50%;
	display: inline-block;
}

.dropdown_professor {
display: inline-block;
	width: 40%;
}

#search_dropdown>div {
	margin:0.2em;
	margin-bottom: 1em;
}

#university_dropdown {

}

.total {
	margin-top: 1em;
}

a {
	text-decoration: none;
	color: black;
}
